[flake8]
max-line-length = 88
extend-ignore = W293,C901,E402,F401
exclude = 
    .venv,
    venv,
    __pycache__,
    .git,
    build,
    dist
per-file-ignores =
    # Игнорируем проблемы с пробелами в HTML строках
    report_generator.py:W293
    # Игнорируем сложность функций
    main.py:C901
    network_scanner.py:C901
    report_generator.py:C901 